<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Game
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/play">Play</a>
            <a href="/game/delete-all">Delete All Game</a>
        </div>
    </div>
    <a href="/logout">Logout</a>
</div>
